/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// @import 'bootstrap-sprockets';
// @import 'bootstrap';
.navbar-nav {
  font-size: initial;
  position: relative;
  align-items: center;
}
#logo{
 Cursor:text !important;
 Text-Decoration: None !important;
 font-size:-webkit-xxx-large;
}
#logo:hover {
  color: green;
  transition-duration: 1.5s;
}
.product-details {
  // margin: 2rem;
  margin-left: 20rem;
}
.product-heading {
  margin-left: 30rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.new-product {
  margin-left: 31rem
}
.field {
  margin-left: 26rem;
  font-size: initial;
  position: relative;
  align-items: center;
}
.actions {
  margin-left: 31rem;
}
.actions input {
  border: none;
  opacity: 70%;
  background-color: white;
}

input{
  border-top: 0;
  border-left: 0;
  border-right: 0;

}
.actions1 {
  margin-left: 33rem;
}
.btn:hover {
  text-decoration: none;
  background-color: black;
  color: #fff;
  transition-duration: 1s;
}
.btn{
  text-decoration: none;
}
.navbar {
  box-shadow: 0px 1px 5px 1px #dbdbdb;
}

.container h2 ,h3 {
  margin-left: 30rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
// .temp a {
//   margin-left: 26rem;
// }
